[submodule "pkgs/sb"]
	path = pkgs/sb
	url = ssh://aur@aur.archlinux.org/sb.git
	ignore = dirty
[submodule "pkgs/sb-bin"]
	path = pkgs/sb-bin
	url = ssh://aur@aur.archlinux.org/sb-bin.git
	ignore = dirty